.section__container{
    display: flex;
    gap: 1em;
    padding-block: 2em;
    min-height: 100vh;
}

.left__side,
.right__side{
    width: 50%;
    overflow-y: scroll;  /* ********************** NOT WORKING ***************************/
}

.left__side::-webkit-scrollbar,
.right__side::-webkit-scrollbar{
    display: none;
}

.left__side{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, 25em);
    justify-content: center;
    gap: 1em;
}


@media (max-width: 1700px) {
    .left__side{
        grid-template-columns: 1fr;
    }

}


.right__side{
    border: 1px solid var(--bg-light);
    padding: .5em;
}

.price{
    margin-block: 2em 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.alert{
    margin-bottom: 1em;
}

.low-in-stock{
    color: rgb(255, 213, 0);
}

.out-of-stock{
    color: var(--color-alert);
}

.size{
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
}

.size li{
    width: 100%;
}

.size button{
    width: 100%;
    padding-block: .7em;
    border: 1px solid var(--color-gray);
}

.alert-sizes{
    background-color: var(--color-alert);
    font-size: .8em;
    padding: 1em;
    margin-top: 2em;
}

button.active{
    background-color: var(--bg-light);
}

button.not-available{
    opacity: .4;
    pointer-events: none;
}

.bag__wishlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-block: 2em;
}

.bag__wishlist .add{
    background-color: var(--color-green);
    width: 100%;
    padding-block: 1em;
    text-align: center;
}

.bag__wishlist .like{
    margin-right: .5em;
}

.bag__wishlist .like i{
    font-size: 1.5em;
}

.accordion{
    position: relative;
    margin-top: .5em;
}

input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

label{
    display: inline-block;
    width: 100%;
    height: 100%;

    border: 1px solid var(--color-gray);
    font-size: 1em;
    font-weight: lighter;
    cursor: pointer;
    padding: .2em .5em;
}

.accordion__content__container{
    max-height: 0px;
    overflow: hidden;
    box-shadow: 0 0px 4px var(--color-gray);
}

.accordion__content__container .content{
    padding: 1em;
    font-size: .8em;
}

.accordion__content__container table{
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.accordion__content__container table,
.accordion__content__container table td,
.accordion__content__container table th{
    border: 1px solid var(--color-gray);
}

.accordion__content__container table td{
    text-align: center;
    padding-block: .5em;
}

input:checked ~ .accordion__content__container{
    max-height: fit-content;
}

.accordion .how-to-container{
    display: flex;
    gap: 1em;
}

.accordion .how-to .how-to-left{
    max-width: 20em;
}

.accordion .how-to-container h4{
    font-size: 1.2em;
}

.accordion .how-to-container h4:not(:first-child){
    margin-top: 1em;
}

.accordion .links{
    display: flex;
    gap: 1em;
    padding: .6em;
}

.accordion .links button{
    font-weight: bold;
}


.accordion .links button.active{
    text-decoration: underline;
}

.accordion .links + .content .section{
    display: none;
}

.accordion .links + .content .section.active{
    display: block;
}

@media (max-width: 450px) {
    .accordion .links button{
        font-size: .7em;
    }

    .accordion .how-to-container{
        flex-direction: column;
    }

    .accordion .links{
        flex-direction: column;
    }
}


@media (max-width: 1200px) {
    .section__container{
        flex-direction: column;
    }

    .left__side,
    .right__side{
        width: 100%;
        /* overflow-y: unset; */
    }

    .left__side{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .left__side,
    .right__side{
        width: 100%;
        /* overflow-y: unset; */
    }

    .left__side{
        grid-template-columns: 1fr;
    }
}