<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothery</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    
</head>
<body>

    <!-- 
        * add observable to the search bar so both can have the same text.
        * when the user uses the search bar at small devices, remove the scrollbar.
        * add a gif loader when requesting products so the user can tell when something is happening.
        * add the url at the top of every page.
    -->


    <!-- 
        TODAY:
        * finish productDetails front-end
        * activate 'add to cart'
    -->
    
    <header id="header">
        <a routerLink="/home" class="logo">Clothery</a>

         <app-search class="search"></app-search>

        <nav>
            <ul class="nav__wrapper">
                <li class="nav__link">
                    <a href="#" class="account">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="wishList">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </li>
                <li class="nav__link">
                    <a href="#" class="cart">
                        <i class="fa-solid fa-briefcase"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <router-outlet></router-outlet>

    </main>


    <footer id="footer">
        <div class="footer__wrapper">
            <ul class="card">
                <h3 class="card__title">CUSTOMER CARE</h3>
                <li class="link">
                    <a href="#">CONTACT</a>
                </li>
                <li class="link">
                    <a href="#">DELIVERY & SHIPPING</a>
                </li>
                <li class="link">
                    <a href="#">RETURNS</a>
                </li>
                <li class="link">
                    <a href="#">FAQ</a>
                </li>
                <li class="link">
                    <a href="#"></a>
                </li>
            </ul>

            <ul class="card">
                <h3 class="card__title">INFO</h3>
                <li class="link">
                    <a href="#">SIZE GUIDE</a>
                </li>
                <li class="link">
                    <a href="#">TERMS & CONDITIONS</a>
                </li>
                <li class="link">
                    <a href="#">PRIVACY POLICY</a>
                </li>
            </ul>

            <ul class="card">
                <h3 class="card__title">CONNECT</h3>
                <li class="link">
                    <a href="#">INSTAGRAM</a>
                </li>
                <li class="link">
                    <a href="#">FACEBOOK</a>
                </li>
                <li class="link">
                    <a href="#">YOUTUBE</a>
                </li>
                <li class="link">
                    <a href="#">PINTEREST</a>
                </li>
                <li class="link">
                    <a href="#">TIKTOK</a>
                </li>
            </ul>

            <ul class="card">
                <h3 class="card__title">SUBSCRIBE</h3>
                <li>
                    <p>Sign up & be the first to know about new arrivals & promotions</p>
                </li>
                <li>
                    <a href="#" class="sign-up-btn btn">
                        SIGN UP 
                        <span><i class="fa-solid fa-arrow-right"></i></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer__bottom">
            <a routerLink="/home" class="logo">Clothery</a>
            <p class="copyright">&copy;<span #year class="year"></span> Clothery. PARMA, ITALY. ALL RIGHTS RESERVED</p>
        </div>
    </footer>

</body>
</html>
