<div class="section__container">
    <h1 style="text-transform: uppercase; margin-block: 1em 2em; padding: 1em;">Frequently Asked Questions</h1>

    <div class="accordion accordion-1">
        <input type="checkbox" id="shipping_1" checked>
        <label for="shipping_1">SHIPPING TIMES DURING SALE PERIODS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Please allow up to 5 business days for orders to be dispatched. You will receive shipping updates and tracking via email as soon as your order is shipped.
                    <br>
                    Our warehouse will be working overtime to ship out an increased volume of orders during sale periods, 
                    so please keep this in mind when placing an order as we are unable to make any changes once your order has been finalized.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-2">
        <input type="checkbox" id="shipping_2">
        <label for="shipping_2">SALE ITEM RETURNS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Items purchased on sale can only be returned for store credit, no refunds are available. 
                    A $10 fee will be deducted to cover return shipping costs. <br>

                    All sale item returns must be lodged by emailing <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>. 
                    Unfortunately, we are unable to process sale returns via our online returns portal. <br>

                    If you need to return full-priced and sale items together, please contact customer service directly so they can lodge your return for you. <br>

                    Due to the increased volume, please allow up to 5 business days for your sale returns to be processed once received back at our warehouse. <br>  

                    Please allow 7 business days for your return to be processed during sale periods. <br>

                    <span style="font-weight: bold;">PLEASE NOTE:</span> we do not accept returns on underwear & intimates. 
                    All products must be returned following our regular returns conditions (unworn, unwashed, all tags still attached, and in original packaging).
                </p>
            </div>
        </div>
    </div>
    
    <div class="accordion accordion-3">
        <input type="checkbox" id="shipping_3">
        <label for="shipping_3">DISCOUNT CODES DURING SALE PERIOD</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Discount codes are not valid on already marked down items online and during flash sale periods. 
                    This includes discount codes for first-time purchases when you sign up for our mailing list.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-4">
        <input type="checkbox" id="shipping_4">
        <label for="shipping_4">WHAT PAYMENT METHODS DO YOU ACCEPT?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    We accept payment via Stripe.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-5">
        <input type="checkbox" id="shipping_5">
        <label for="shipping_5">CAN DISCOUNT CODES BE USED ON SALE PRODUCTS OR DURING PROMOTIONAL PERIODS?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p>
                    Discount codes are not valid on already reduced items and during sale periods.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-6">
        <input type="checkbox" id="shipping_6">
        <label for="shipping_6">CAN I APPLY MY FIRST ORDER DISCOUNT CODE AFTER MY ORDER IS PROCESSED?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    If your discount does not apply at checkout, or if you forget to apply it, unfortunately, we are unable to rectify this once the order has been placed. 
                    This includes adding the code once the order is lodged or refunding for the amount of the discount. 
                    If you are having trouble with your discount code, please email one of our friendly lords at 
                    <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>.com with the issue (before checkout) 
                    and they will help you out!
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-7">
        <input type="checkbox" id="shipping_7">
        <label for="shipping_7">HOW DO I TRACK MY PACKAGE?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    You will receive a shipping confirmation from us when your order has been dispatched from our warehouse, 
                    and a second email with your Tracking Number once the package has been processed with the Courier Company. 
                    If you have received notification from the courier company that your order has been delivered but you have not received it, 
                    we recommend first calling them directly to investigate further.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-8">
        <input type="checkbox" id="shipping_8">
        <label for="shipping_8">CAN I CHANGE/CANCEL MY ORDER?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Unfortunately, as per our refunds & returns policy, we are unable to cancel any orders once they have been placed. <br>
                    If you are still unhappy when you receive your items.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-9">
        <input type="checkbox" id="shipping_9">
        <label for="shipping_9">HAVE YOU RECEIVED MY RETURN?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Although our orders go out quickly, it can take up to 14 days for returns to arrive at our warehouse depending on the service you use. 
                    Once we have received your return, we will process it within two business days. 
                    You will be notified via email when your return has been received and your store credit or refund has been issued. 
                    Please note; we receive many returns each week, so be sure to keep your tracking. 
                    Without this, we have no way of seeing if a parcel has reached our warehouse until it is processed.
                </p>
            </div>
        </div>
    </div>
</div>
